@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swa');


* {font-family: "Rethink Sans", sans-serif;}


a {
    text-decoration: none;
    color: #faf3e1 !important;
    font-weight: 500;
}
h1 {
    color: #fa8f56 !important;
}
a:hover {
    color: #ffd971 !important;
    text-decoration: none;
}

ul {list-style-type: circle;}



hr {
    margin-top: 0px;
    margin-bottom: auto;
}

.profile-pic {
    width: 300px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.profile-pic-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.profile-pic-container {
    position: relative;
    display: inline-block;
}

.profile-pic-container:hover .profile-pic {
    opacity: 0;
}

.profile-pic-container:hover .profile-pic-hover {
    opacity: 1;
}
@media (max-width: 650px) {
    .profile-pic-container {
        max-width: 250px;
        max-height: 235px;
    }
}
@media (max-width: 768px) {
    .col-left, .col-right {
        width: 100% !important;
        margin: 0 !important;
    }
    .col-right {
        margin-top: 20px !important;
    }
}
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}